

@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* body css */
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* header css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: red;
    color: white;
    box-shadow: 0 3px 4px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: "Akronim", system-ui;
    letter-spacing: 1px;
}


.search-bar {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 40px;

}

.user-icon {
    margin-right: 10px;
    font-size: 24px;
}

.navbar {
    position: fixed;
    top: 54px;
    left: 0;
    width: 170px;
    height: 100%;
    background-color: white;
    color: white;
    padding-top: 20px;
    /* border-right: 1px solid grey; */
    box-shadow: 0 6px 4px 4px rgba(0,0,0,0.1);
}

.navbar a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: red;
    color: white;
    transition: 0.3s ease;
    border-radius: 5px;
    margin: 0 13px;
}

.navbar hr {
    border: 0;
    height: 1px;
    background-color: red;
    margin: 0px 13px;
}

main {
    margin-left: 180px; /* Adjusted to match the width of the navbar */
    padding: 20px;
    margin-right: 10px;
}

main section{
    border: 2px solid black;
    width: 100%;
    height: auto;
}

.main-container{
    width: 100%;
    height: auto;
    margin-top: 55px;

    /* border: 1px solid black; */
}

.content-header{
    height: 60px;
    width: 100%;
    /* background-color: aqua; */
}

.content-header h3{
    float: left;
    letter-spacing: 1px;
}

.product-navigation{
    float: right;
    margin-top: 3px;
}

.product-navigation ul{
    display: flex;
    justify-content: space-evenly;
}

.product-navigation ul li{
    margin-left: 20px;
    list-style: none;
}

.product-navigation ul li a{
    text-decoration: none;
    color: grey;
}

.product-navigation ul li a:hover{
    color: red;
    /* text-decoration: underline; */
    transition: 0.2s ease-in;
    border-bottom: 2px solid red;
}

.active1{
    color: red;
    border-bottom: 2px solid red;
}

.active {
    background-color: red;
    color: white !important;
    /* transition: 0.3s ease; */
    border-radius: 5px;
    margin: 0 13px;
}

.product-container{
    display : flex;
    justify-content: space-between;
    /* height: auto; */
}

.product{
    height: 450px;
    width: 330px;
    border: 1px solid grey;
    border-radius: 6px ;
}

.product:hover{
    height:451px;
    width: 331px;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}

.product img{
    width: 100%;
    height: 300px;
    border-radius: 6px ;
}

.category{
    color: grey;
    margin-bottom: -13px;
}

.price{
    margin-top: -13px;
}

.real-price{
    color: red;
}

.cut-price{
    text-decoration: line-through;
    color: grey;
    font-size: 10px;
}

.product-description{
    display:none;
    font-size: 12px;
    margin : 0 25px;
    color: grey;
}

.details-btn{
    padding: 8px 20px;
    color: red;
    margin-right: 3px;
    border: 1.2px solid red;
    background: none;
    border-radius: 3px;
}

.details-btn:hover{
    background-color: red;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.cart-btn{
    padding: 10px 25px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

.cart-btn:hover{
    padding: 11px 26px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}



/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .navbar a {
        padding: 10px;
    }

    main {
        margin-left: 0;
    }
}

